############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*


############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# Logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3


############################
# Misc.
############################

*#
ssl
.idea
nbproject
public/uploads/*
public/robots.txt
public/sitemap.xml
public/sitemap*.xml
!public/uploads/.gitkeep
*.pem

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
/node_modules
*/node_modules
*/*/node_modules
.node_history
/.node_history
*/.node_history
*/*/.node_history

############################
# Tests
############################

testApp
coverage

############################
# NextJs & Config
############################

.next/
out/
build

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# Customize
# dependencies
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# local env files
.env*.local
.env*

# test
localhost.crt
localhost.key